html,
body,
div,
span,
a,
p,
ul,
li,
h1,
code,
nav,
input,
label {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}
/*pass window height (w/o scroll bars) down to react app, note can't use vh because that
      includes scroll bars and mobile browser footer, etc so doesn't give viewable area*/
html,
body {
  height: 100%;
}
html {
  background-color: rgb(0, 120, 0);
}
#root {
  background-color: #a9f0f0;
  min-height: 100%;
}
